body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  width: 500px;
  display: block;
}

.delete-show {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-show button {
  color: red;
}
	
li {
  list-style: none;
}