<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Netflix Shows</title>
</head>
<body>
  <h1>Netlfix Shows</h1>
  <ul>
    <% netflixShows.forEach(netflixShow => { %>
     <li>
      <a href="/netflixShows/<%= netflixShow._id %>">
        <%= netflixShow.show %>
      </a>
      - 
      <%= netflixShow.stars%> 
      &#9733
     </li> 
    <% }) %>
  </ul>
  <a href="/netflixShows/new">Add new show</a>
</body>
</html>